@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.wrapper {
  /* min-height: 100vh;
  min-width: 100vw; */
  font-family: "Montserrat", sans-serif;
  color: rgb(56, 55, 55);
}

/* .columns {
  width: 100%;
} */
